.main
{
	padding-top:132px;
}
header
{
  position: fixed;
  z-index:99;
  width: 100%;
 /* line-height: 132px;*/
  height: 132pxs;
  background-color:#fff;
  border-bottom: 1px solid #333;
  transition: all 0.4s ease;
}
header.sticky {
 /* line-height: 80px;*/
  background-color:#fff;
  border-bottom: 1px solid #333;
  
}
.navbar 
{
	display: block;
	width: 100%;
	z-index: 99;
}
.navbar > .container 
{
	width: 100%; 
}
.navbar-list 
{
	list-style: none;
	margin-bottom: 0; 
	float:right;
	width:100%;
	transition: all 0.4s ease;
}
.navbar-list.menu 
{
	display:none;
}
.navbar-item 
{
	width:100%;
	position: relative;
	float: left;
	margin-bottom: 0; 
	transition: all 0.4s ease;
}
a.navbar-link 
{
	font-size: 1.4rem;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	line-height: 3.5rem;
	color: #003e63;
	width:100%;
	display:block;
	margin-bottom: 2rem;
	transition: all 0.4s ease;
}
a.navbar-link.active, a.navbar-link:hover 
{
	color: #33C3F0; 
}
.logo-wrapper.columns
{
	width: 80%;
	transition: all 0.4s ease;
}
.logo-wrapper.columns img
{
	margin-left:0;
	margin-top: .7rem;
	width:100%;
	max-width:300px;
}
.has-docked-nav .navbar 
{
	position: fixed;
	top: 0;
	left: 0; 
}
.has-docked-nav .navbar-spacer 
{
	display: block; 
}
/* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar > .container 
{
	width: 80%; 
}
/*Menu Mobile */
#showmenu
{
	width: 15%;	
	float: right;
}
#showmenu img
{
	width: 100%;
	max-width: 60px;
	margin-top:1rem;	
}
