﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Basic Page Needs
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Allstar Financial Group</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->


	<!-- FONT
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Hind:400,300,500,600,700|PT+Sans+Narrow' rel='stylesheet' type='text/css'>

	<!-- CSS
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- Favicon
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<link rel="shortcut icon" href="images/favicon.png">

	<!-- Javascript
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- Mobile Slider Nav Begin -->
	<script>
		$(function ()
		{
			var $window = $(window),
			$nav = $('.menu'),
			$button = $('#showmenu');
		
			$button.click(function() {
			
				$nav.slideToggle(700);
			});
			
			$window.on('resize', function ()
			{
				if ($window.width() < 750)
				{
					$nav.hide();
				}
				if ($window.width() > 750)
				{
					$nav.show();
				}
			});
		});
	</script>
	<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-3148703-5', 'auto');
	  ga('require', 'displayfeatures');
	  ga('send', 'pageview');

	</script>
	</head>
	<body class="allstar_fg">

<!-- Primary Page Layout
 	 –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!--HEADER-->

<header>
	<nav class="navbar">
    	<div class="container">
          	<div class="row">
        		<div class="logo-wrapper col-md-3 col-sm-4 col-xs-6"> <a href="index.html"><img src="images/fg_logo.png" alt="Allstar Financial Group" class="img-responsive"/></a> </div>
        		<div id="showmenu" class="col-md-1 navbar-right"><img alt="Menu Toggle" src="images/menu_btn.png" class="img-responsive"/></div>
        		<div class="col-md-9 col-sm-8 col-xs-12" >
              		<ul class="navbar-list menu">
            			<li class="navbar-item"><a class="navbar-link" href="index.html">HOME</a></li>
                        <li class="navbar-item"><a class="navbar-link" href="news.html">NEWS</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="aboutus.html">ABOUT US</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="careers.html">CAREERS</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="directory.html">OFFICE LOCATIONS</a></li>
            			<!--<li class="navbar-item"><a class="navbar-link" href="successes.html">RECENT SUCCESSES</a></li>-->
          			</ul>
            	</div>
      		</div>
  		</div>
  	</nav>
</header>
<!--HEADER-->

<div class="main">
	<!--{{||$:/core/templates/html-tiddler}}--> 
	<!--HERO HOME-->
	<div class="section hero home">
      	<div class="container">
    		<h1>A little ingenuity goes a long way</h1>
    		<p>Since 1965, finding creative solutions to cover your clients needs has been out #1 priority.</p>
    		<p><a class="scroll_link" href="#Mission"><img src="images/arrow_dwn.png" class="floating"/></a></p>
  		</div>
    </div>
	<div class="section mission" id="Mission">
      	<div class="container">
    		<div class="row">
          		<div class="col-md-2">
        			<h2>OUR MISSION</h2>
      			</div>
          		<div class="col-md-10">
                	<p>Allstar Financial Group is a recognized leader in Insurance, Surety and Fidelity, and Technology driven solutions.  We provide a unique suite of insurance products and solutions through an impressive family of highly rated AM Best companies.  And we do it all with best in class service. Our commitment to your success encourages employees to work collaboratively by fostering within a culture of innovation through partnership. By working together, our network of professionals establish long term partnerships and experiences that promote mutual growth.  Let us exceed your expectations.  </p>
        			<!--<p>Our team of exceptional professionals have a network of offices throughout the nation offering products to an expanding network of agencies. With a long-standing tradition of service and integrity we continually strive to simplify, solidify, and provide security to customers. Nothing is too risky, challenging, or unique.</p>-->
      			</div>
        	</div>
    		<div class="row">
          		<div class="col-lg-12"><br><img src="images/hr_styled.png" class="img-responsive"> </div>
            </div>
        </div>
    </div>
	<div class="section icons">
      	<div class="container">
    		<div class="row">
          		<div class="col-lg-3 col-md-3 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
        			<div class="section__content clearfix">
              			<div class="card effect__hover">
            				<div class="card__front">
                  				<div class="icon_wrap"><img src="images/diploma.png"/></div>
                  				<span class="card__text">EXPERIENCE</span>
                          	</div>
            				<div class="card__back">
                            	<span class="card__text">The Allstar Financial Group family of operating companies has over 50 years of experience in the Surety, Fidelity, and Insurance marketplace. </span>
                          	</div>
          				</div>
              			<!-- /card --> 
            		</div>
        			<!-- /section --> 
      			</div>
          		<div class="col-lg-3 col-md-3 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
        			<div class="section__content clearfix">
              			<div class="card effect__hover">
            				<div class="card__front">
                  				<div class="icon_wrap"><img src="images/handshake.png"/></div>
                  				<span class="card__text">DEDICATION</span>
                          	</div>
            				<div class="card__back">
                            	<span class="card__text">We are dedicated to driving the growth of our business and partnerships to strengthen our position of leadership in the marketplace.</span>
                          	</div>
          				</div>
              			<!-- /card --> 
            		</div>
        			<!-- /section --> 
      			</div>
          		<div class="col-lg-3 col-md-3 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
       	 			<div class="section__content clearfix">
              			<div class="card effect__hover">
            				<div class="card__front">
                  				<div class="icon_wrap"><img src="images/bell.png"/></div>
                  				<span class="card__text">SERVICE</span>
                          	</div>
            				<div class="card__back">
                            	<span class="card__text">We are committed to delivering the highest level of service while embracing new technology, driving innovation, and building creative insurance solutions.</span>
                          	</div>
          				</div>
              			<!-- /card --> 
            		</div>
        			<!-- /section --> 
      			</div>
          		<div class="col-lg-3 col-md-3 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
        			<div class="section__content clearfix">
              			<div class="card effect__hover">
            				<div class="card__front">
                  				<div class="icon_wrap"><img src="images/people.png"/></div>
                  				<span class="card__text">REPUTATION</span>
                          	</div>
            				<div class="card__back">
                            	<span class="card__text">Our clients value the long standing tradition of service, integrity, financial strength, and extensive product offerings of Allstar Financial Group.</span>	
                         	</div>
          				</div>
              			<!-- /card --> 
            		</div>
        			<!-- /section --> 
      			</div>
        	</div>
  		</div>	
   	</div>
	<div id="tabs" class="c-tabs no-js">
      	<div class="section companies">
    		<div class="container">
            	<img src="images/star_white.png"/>
          		<h2>THE Allstar FAMILY</h2>
          		<div class="c-tabs-nav row">
                    <div class="col-md-4 col-sm-12"> <span href="#" class="c-tabs-nav__link is-active">Allstar INSURANCE</span> </div>
                    <div class="col-md-4 col-sm-12"> <span href="#" class="c-tabs-nav__link">ADDITIONAL INSURANCE DIVISIONS</span> </div>
                    <div class="col-md-4 col-sm-12"> <span href="#" class="c-tabs-nav__link">SUPPORTING DIVISIONS</span> </div>
      			</div>
  			</div>
  		</div>
      	<div class="section as_insurance">
    		<div class="container c-tab is-active">
          		<div class="row c-tab__content">
        			<div class="col-md-4">
                    	<a href="http://www.allstarsuretybonds.com/" target="_blank"><img src="images/logos/surety.png" alt="Allstar Surety" class="logos img-responsive"/> </a>
              			<!--<h2>Allstar Surety</h2>-->
              			<p>Whether you are looking to secure a specialty bond or protect corporate assets, Allstar Surety can help. Our experienced underwriters can engineer a solution for all your surety needs. <a href="http://www.allstarsuretybonds.com/" target="_blank">Learn More</a>.</p>
            		</div>
        			<div class="col-md-4">
                    	<a href="http://www.allstartransportationinsurance.com/index.html" target="_blank"><img src="images/logos/transportation.png" alt="Allstar Transportation Specialists, LLC" class="logos img-responsive"/></a>
              			<!--<h2>Allster Transportation</h2>-->
              			<p>Allstar Transportation Specialists, LLC can provide your clients with the best specialized trucking insurance available on the market today. And we can cover nearly every size fleet, so you never have to say “no” to your clients. <a href="http://www.allstartransportationinsurance.com/index.html" target="_blank">Learn More</a>.</p>
            		</div>
        			<div class="col-md-4">
                    	<a href="http://allstarunderwriters.com" target="_blank"><img src="images/logos/underwriters.png" alt="Allstar Underwriters" class="logos img-responsive"/></a>
              			<!--<h2>Allstar Underwriters</h2>-->
              			<p>At Allstar, nothing is too risky, too tough or too unusual for us to insure. Call us today to take care of all your specialty insurance needs. <a href="http://allstarunderwriters.com" target="_blank">Learn More</a>.</p>
            		</div>
      			</div>
        	</div>
    		<div class="container c-tab">
          		<div class="row c-tab__content">
        			<div class="col-md-4">
                    	<a href="http://arkonspecialrisk.com/" target="_blank"><img src="images/logos/arkon.png" alt="Arkon" class="logos img-responsive"/></a> 
              			<!--<h2>Arkon</h2>-->
              			<p>Arkon Special Risk was created in March 2015 to be a Northeast Wholesale presence for Allstar Financial Group. <a href="http://arkonspecialrisk.com/" target="_blank">Learn More</a>.</p>
            		</div>
        			<div class="col-md-4">
                    	<a href="http://www.aspenmga.com/" target="_blank"><img src="images/logos/aspen.png" alt="Aspen Insurance Managing General Agency" class="logos img-responsive"/></a>
              			<!--<h2>Aspen Insurance Managing General Agency</h2>-->
              			<p>As a Managing General Agent, Aspen Insurance delivers Personal Auto Coverage with a streamlined process for partners located in Texas. <a href="http://www.aspenmga.com/" target="_blank">Learn More</a>.</p>
            		</div>
        			<div class="col-md-4">
                    	<a href="http://www.blueskyrvinsurance.com/" target="_blank"><img src="images/logos/bluesky.png" alt="Blue Sky Recreational Vehicle Insurance" class="logos img-responsive"/></a>
              			<!--<h2>Blue Sky Recreational Vehicle Insurance</h2>-->
              			<p>Blue Sky offers a full suite of specialty coverages to accommodate the insurance needs of virtually any RV owner. <a href="http://www.blueskyrvinsurance.com/" target="_blank">Learn More</a>.</p>
            		</div>
      			</div>
          		<div class="row c-tab__content">
        			<div class="col-md-4">
                    	<img src="images/logos/centurion.png" alt="Centurion XS" class="logos img-responsive"/> 
                      	<!--<h2>Centurion XS</h2>-->
                      	<p>Centurion Excess is an unsupported excess facility focused on writing a comprehensive assortment of business classes. </p>
            		</div>
       			 	<div class="col-md-4">
                    	<a href="http://www.hrinsurance.com/index.html" target="_blank"><img src="images/logos/hr.png" alt="Hawkins &amp; Rawlinson" class="logos img-responsive"/></a>
                      	<!--<h2>Hawkins &amp; Rawlinson</h2> -->
                      	<p>Affordable logging insurance from a company that knows the ropes and isn’t afraid to get their boots muddy. <a href="http://www.hrinsurance.com/index.html" target="_blank">Learn More</a>.</p>
            		</div>
        			<div class="col-md-4">
                    	<a href="http://www.outdoorunderwriters.com/index.html" target="_blank"><img src="images/logos/oui.png" alt="Outdoor Underwriters" class="logos img-responsive"/></a>
              			<!--<h2>Outdoor Underwriters</h2>-->
              			<p>"Forestry beyond timber." Outdoor Underwriters provides affordable insurance designed and backed by Lloyd’s of London for hunt clubs, landowners, and the forest products industry. <a href="http://www.outdoorunderwriters.com/index.html" target="_blank">Learn More</a>.</p>
            		</div>
      			</div>
          		<div class="row c-tab__content">
        			<div class="col-md-4">	
                    	<a href="http://www.primespecialty.com/index.html" target="_blank"><img src="images/logos/primespecialty.png" alt="Prime Specialty" class="logos img-responsive"/></a> 
              			<!--<h2>Prime Specialty</h2>-->
              			<p>Prime Specialty’s Commercial General Liability team can provide you with competitive quotes on annual policies for Trade Contractors and General Contractors and on Designated Project policies for ground-up construction, conversion and renovation projects. <a href="http://www.primespecialty.com/index.html" target="_blank">Learn More</a>.</p>
            		</div>
        			<div class="col-md-4">
                    	<a href="http://www.ventureund.com/index.html" target="_blank"><img src="images/logos/venture.png" alt="Venture Underwriters" class="logos img-responsive"/></a>
              			<!--<h2>Venture Underwriters</h2>-->
              			<p>Our mission is to provide wholesale brokers a fast, innovative, ethical, and knowledgeable solution to their needs. We have an experienced, creative & imaginative team ready to meet your insurance needs. <a href="http://www.ventureund.com/index.html" target="_blank">Learn More</a>.</p>
            		</div>
        			<div class="col-md-4">
                    	<a href="http://yrisk.com/" target="_blank"><img src="images/logos/yrisk.png" alt="Y-Risk" class="logos img-responsive"/></a>
              			<!--<h2>Y-Risk</h2>-->
              			<p>Y-Risk provides customized insurance solutions and risk management services for tech-enabled Sharing Economy companies. <a href="http://yrisk.com/" target="_blank">Learn More</a>.</p>
            		</div>
      			</div>
        	</div>
    		<div class="container c-tab">
          		<div class="row c-tab__content">
        			<div class="col-md-3">
                    	<img src="images/logos/technology.png" alt="Allstar Technology" class="logos img-responsive"/> 
                      	<!--<h2>Allstar Technology</h2>-->
              			<p>More info coming soon.</p>
            		</div>
        			<div class="col-md-3">
                    	<a href="http://www.natlclaim.com/index.html" target="_blank"><img src="images/logos/nationalclaimservices.png" alt="National Claim Services" class="logos img-responsive"/></a>
              			<!--<h2>National Claim Services</h2>-->
              			<p>We’re a full service TPA dedicated to providing you with quality claims solutions and risk management programs. <a href="http://www.natlclaim.com/index.html" target="_blank">Learn More</a>.</p>
            		</div>
        			<div class="col-md-3">
                    	<a href="http://www.natlescrow.com/index.html" target="_blank"><img src="images/logos/escrow.png" alt="National Escrow" class="logos img-responsive"/></a>
              			<!--<h2>National Escrow</h2>-->
              			<p>National Escrow helps you secure the big jobs. We can provide the back-office and fund control necessary to minimize surety bond risk and maintain a lien-free/claim-free project through completion. <a href="http://www.natlescrow.com/index.html" target="_blank">Learn More</a>.</p>
            		</div>
        			<div class="col-md-3">
                    	 <a href="http://www.sterlingpremiumfinance.com/" target="_blank"><img src="images/logos/sterling.png" alt="Sterling Premium Finance" class="logos img-responsive"/></a> 
              			<!--<h2>Sterling Premium Finance</h2>-->
             			<p>Show your clients this affordable way to finance insurance premiums. They’ll keep their cash and credit lines intact. And you’ll keep your customer. <a href="http://www.sterlingpremiumfinance.com/" target="_blank">Learn More</a>.</p>
            		</div>
     			</div>
        	</div>
    		<div class="container c-tab">
          		<div class="row c-tab__content">
        			<div class="col-md-3">
                    	<a href="http://www.allstarenterprise.com/" target="_blank"><img src="images/logos/enterprises.png" alt="Allstar Enterprises" class="logos img-responsive"/></a> 
              			<!--<h2>Allstar Enterprises</h2>-->
              			<p>At Allstar Enterprises we want to be your # 1 source for commercial and residential service work. Providing you with prompt, professional and courteous service is our top priority. <a href="http://www.allstarenterprise.com/" target="_blank">Learn More</a>.</p>
            		</div>
        			<div class="col-md-3">
                    	<img src="images/logos/foundation.png" alt="Allstar Foundation" class="logos img-responsive"/> 
              			<!--<h2>Allstar Foundation</h2>-->
              			<p>The Allstar Financial Group - Allstar Foundation was established to help needy religious and educational organizations.</p>
            		</div>
        			<div class="col-md-3">
                    	<a href="http://www.natlcustom.com/" target="_blank"><img src="images/logos/nationalcustom.png" alt="National Custom" class="logos img-responsive"/></a> 
              			<!--<h2>National Custom</h2>-->
              			<p>NCI is a licensed general contractor specializing in commercial build out, remodeling and supply for national brands in the retail, hospitality, and multi unit facility arenas - coast to coast. <a href="http://www.natlcustom.com/" target="_blank">Learn More</a>.</p>
            		</div>
        			<div class="col-md-3">
                    	<a href="http://www.runninwildfoods.com/" target="_blank"><img src="images/logos/runninwild.png" alt="Running Wild" class="logos img-responsive"/></a>
              			<!--<h2>Running Wild</h2>-->
              			<p>Get all the flavors of an authentic smokehouse in your own kitchen. Fire up the grill and pour on the flavor with our original spice blends and rubs. And for a real rodeo of flavor grab a fist full of our Steak ‘N A Bag, or SteakSticks. <a href="http://www.runninwildfoods.com/" target="_blank">Learn More</a>.</p>
            		</div>
      			</div>
        	</div>
  		</div>
      	<div class="section nonins_companies">
    		<div class="container">
          		<div class="c-tabs-navrow">
        			<div class="col-sm-4 col-sm-offset-4"> 
                    	<span href="#" id="bottom" class="bottom c-tabs-nav__link">NON-INSURANCE ENTITIES</span> 
                   	</div>
      			</div>
        	</div>
  		</div>
  	</div>
	<div class="section graphic">
      	<div class="container">
    		<div class="row">
            	<div class="hideme">
	          		<div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2"> <img src="images/fg_logo_lg.png" class="img-responsive"/> </div>
        		</div>
                
            </div>
  		</div>
 	</div>
	<footer class="section footer">
      	<div class="container-fluid">
        	<div class="row footer_text">
            	<div class="col-md-6 col-sm-8 col-sm-offset-1">
            		<p><!--Northridge Center 1, -->365 Northridge Rd., Suite 400, Atlanta, Georgia 30350&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;© <span class="year"></span> Allstar&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<nobr>1-800-424-0132</nobr>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://www.linkedin.com/company/allstar-financial-group">LinkedIn</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="http://allstarfg.actonservice.com/acton/form/16472/0026:d-0001/0/-/-/-/-/index.htm" target="_blank">Join Our Mailing List</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a  href="privacy.html">Privacy</a></p>
				</div>
                <div class="col-sm-1 col-sm-offset-0 col-xs-offset-4 text-center">
                  	<a href="http://www.nasbp.org/home" target="_blank"><img src="images/nasbp.png" alt="Proud Member of NASBP" class="img-responsive"/></a>
            	</div>
				<div class="col-sm-1 col-sm-offset-0 col-xs-offset-4 text-center">
                  	<a href="https://www.wsia.org/" target="_blank"><img src="images/wsia.png" alt="WSIA" class="img-responsive"/></a>
            	</div>
                <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-offset-4 text-center">
                    <img src="images/Target-Markets-LOGO.png" alt="Target Markets - Program Administrators Association" class="img-responsive"/>
            	</div>
            </div>
            <div class="row allstar_logo">
               	<div class="col-sm-2 col-sm-offset-5">
                  	<img src="images/allstar_logo_footer.png" alt="Allstar" class="img-responsive"/> 
            	</div>
            </div>
        </div>
	</footer>

    <!-- End Document
        –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
    
    <!--{{Allstar Financial Group Google Analytics||$:/core/templates/plain-text-tiddler}}--> 
    
    <!--{{Sticky Nav Javacript||$:/core/templates/plain-text-tiddler}}--> 
    <script>
  $(function(){
	  var theYear = (new Date).getFullYear();
    $('.year').html(theYear);
  });
</script>
	<script type="text/javascript">
        $(window).scroll(function() {
            if ($(this).scrollTop() > 50){  
                $('header').addClass("sticky");
            }
            else{
                $('header').removeClass("sticky");
            }
        });
    </script> 
	<script src='js/jquery.scrollto.js'></script> 
	<script>
        $('.scroll_link').click(function(e){
            $('html,body').scrollTo(this.hash, this.hash);
            e.preventDefault();
        });

        // not really needed
        $(window).resize(function(){
            $('.page').css({
                fontSize: Math.max(Math.min($(window).outerWidth() / (1 * 6), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY)) + 'px',
                lineHeight: $(window).height() + 'px'
            });
        }).resize();
    </script> 

    <!-- responsive tabs --> 
    <script src="js/tabs.js"></script> 
    <script>
      var myTabs = tabs({
        el: '#tabs',
        tabNavigationLinks: '.c-tabs-nav__link',
        tabContentContainers: '.c-tab'
      });
    
      myTabs.init();
    </script>
    
    
    
    <script>
	$(document).ready(function() {
    
    /* Every time the window is scrolled ... */
    $(window).scroll( function(){
    
        /* Check the location of each desired element */
        $('.hideme').each( function(i){
            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();
            /* If the object is completely visible in the window, fade it it */
            if( bottom_of_window > bottom_of_object ){
                $(this).animate({'opacity':'1', 'top': '1px'},1800);
            }
        }); 
    
    });
    
});</script>

</body>
</html>
