<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Basic Page Needs
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Allstar Financial Group</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Hind:400,300,500,600,700|PT+Sans+Narrow' rel='stylesheet' type='text/css'>

	<!-- CSS
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- Favicon
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<link rel="shortcut icon" href="images/favicon.png">

	<!-- Javascript
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- Mobile Slider Nav Begin -->
	<script>
		$(function ()
		{
			var $window = $(window),
			$nav = $('.menu'),
			$button = $('#showmenu');
		
			$button.click(function() {
			
				$nav.slideToggle(700);
			});
			
			$window.on('resize', function ()
			{
				if ($window.width() < 750)
				{
					$nav.hide();
				}
				if ($window.width() > 750)
				{
					$nav.show();
				}
			});
		});
	</script>
	<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-3148703-5', 'auto');
	  ga('require', 'displayfeatures');
	  ga('send', 'pageview');

	</script>
	</head>
	<body class="allstar_fg">

<!-- Primary Page Layout
 	 –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!--HEADER-->

<header class="perma_sticky">
	<nav class="navbar">
    	<div class="container">
          	<div class="row">
        		<div class="logo-wrapper col-md-3 col-sm-4 col-xs-6"> <a href="index.html"><img src="images/fg_logo.png" alt="Allstar Financial Group" class="img-responsive"/></a> </div>
        		<div id="showmenu" class="col-md-1 navbar-right"><img alt="Menu Toggle" src="images/menu_btn.png" class="img-responsive"/></div>
        		<div class="col-md-9 col-sm-8 col-xs-12" >
              		<ul class="navbar-list menu">
            			<li class="navbar-item"><a class="navbar-link" href="index.html">HOME</a></li>
                        <li class="navbar-item"><a class="navbar-link" href="news.html">NEWS</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="aboutus.html">ABOUT US</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="careers.html">CAREERS</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="directory.html">OFFICE LOCATIONS</a></li>
            			<!--<li class="navbar-item"><a class="navbar-link" href="successes.html">RECENT SUCCESSES</a></li>-->
          			</ul>
            	</div>
      		</div>
  		</div>
  	</nav>
</header>
<!--HEADER-->

<div class="main">
	<!--{{||$:/core/templates/html-tiddler}}--> 
	<!--HERO HOME-->
	<div class="section offices">
      	<div class="container-fluid">
       	 	<h2 class="text-center">Allstar Directory</h2>
    		<div class="row">
            	<div class="col-lg-4 col-md-6 col-sm-6 corp_hq">
                	<a href="atlanta.html" role="button"><span class="btn btn-block">Atlanta, GA</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 cla_nc">
                	<a href="clayton.html" role="button"><span class="btn btn-block">Clayton, NC</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 bir_al">
                	<a href="birmingham.html" role="button"><span class="btn btn-block">Birmingham, AL</span></a>
                </div>

            	<div class="col-lg-4 col-md-6 col-sm-6 cha_nc">
                	<a href="charlotte.html" role="button"><span class="btn btn-block">Charlotte, NC</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 akr_oh">
                	<a href="akron.html" role="button"><span class="btn btn-block">Akron, OH</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 cle_oh">
                	<a href="cleveland.html" role="button"><span class="btn btn-block">Cleveland, OH</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col_sc">
                	<a href="columbia.html" role="button"><span class="btn btn-block">Columbia, SC</span></a>
                </div>
         		<div class="col-lg-4 col-md-6 col-sm-6 dal_tx">
                	<a href="dallas.html" role="button"><span class="btn btn-block">Dallas, TX</span></a>
                </div>
            	<div class="col-lg-4 col-md-6 col-sm-6 col_oh">
                	<a href="columbus.html" role="button"><span class="btn btn-block">Columbus, OH</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 den_co">
                	<a href="denver.html" role="button"><span class="btn btn-block">Denver, CO</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 jac_fl">
                	<a href="jacksonville.html" role="button"><span class="btn btn-block">Jacksonville, FL</span></a>
                </div>
            	<div class="col-lg-4 col-md-6 col-sm-6 tam_fl">
                	<a href="tampa.html" role="button"><span class="btn btn-block">Tampa, FL</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 bre_tn">
                	<a href="brentwood.html" role="button"><span class="btn btn-block">Brentwood, TN</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 san_ca">
                	<a href="sanfran.html" role="button"><span class="btn btn-block">San Francisco, CA</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 los_ca">
                	<a href="los.html" role="button"><span class="btn btn-block">Los Angeles, CA</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 lut_fl">
                	<a href="lutz.html" role="button"><span class="btn btn-block">Lutz, FL</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 aub_al">
                	<a href="auburn.html" role="button"><span class="btn btn-block">Auburn, AL</span></a>
                </div>
                 <div class="col-lg-4 col-md-6 col-sm-6 bre_ny">
                	<a href="brewster.html" role="button"><span class="btn btn-block">Brewster, NY</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 new_ny">
                	<a href="newyork.html" role="button"><span class="btn btn-block">New York, NY</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 nor_ga">
                	<a href="norcross.html" role="button"><span class="btn btn-block">Norcross, GA</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 sta_ct">
                	<a href="stamford.html" role="button"><span class="btn btn-block">Stamford, CT</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 uni_ct">
                	<a href="unionville.html" role="button"><span class="btn btn-block">Unionville, CT</span></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 ara_ga">
                	<a href="aragon.html" role="button"><span class="btn btn-block">Aragon, GA</span></a>
                </div>
         	</div>
      	</div>
    </div>
	<footer class="section footer">
      	<div class="container-fluid">
        	<div class="row footer_text">
            	<div class="col-md-6 col-sm-8 col-sm-offset-1">
            		<p><!--Northridge Center 1, -->365 Northridge Rd., Suite 400, Atlanta, Georgia 30350&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;© <span class="year"></span> Allstar&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<nobr>1-800-424-0132</nobr>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://www.linkedin.com/company/allstar-financial-group">LinkedIn</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="http://allstarfg.actonservice.com/acton/form/16472/0026:d-0001/0/-/-/-/-/index.htm" target="_blank">Join Our Mailing List</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a  href="privacy.html">Privacy</a></p>
				</div>
                <div class="col-sm-1 col-sm-offset-0 col-xs-offset-4 text-center">
                  	<a href="http://www.nasbp.org/home" target="_blank"><img src="images/nasbp.png" alt="Proud Member of NASBP" class="img-responsive"/></a>
            	</div>
				<div class="col-sm-1 col-sm-offset-0 col-xs-offset-4 text-center">
                  	<a href="https://www.wsia.org/" target="_blank"><img src="images/wsia.png" alt="WSIA" class="img-responsive"/></a>
            	</div>
                <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-offset-4 text-center">
                    <img src="images/Target-Markets-LOGO.png" alt="Target Markets - Program Administrators Association" class="img-responsive"/>
            	</div>
            </div>
            <div class="row allstar_logo">
               	<div class="col-sm-2 col-sm-offset-5">
                  	<img src="images/allstar_logo_footer.png" alt="Allstar" class="img-responsive"/> 
            	</div>
            </div>
        </div>
	</footer>

    <!-- End Document
        –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
    
    <!--{{Allstar Financial Group Google Analytics||$:/core/templates/plain-text-tiddler}}--> 
    
    <!--{{Sticky Nav Javacript||$:/core/templates/plain-text-tiddler}}--> 
    <script>
  		$(function(){
	  		var theYear = (new Date).getFullYear();
    		$('.year').html(theYear);
  		});
	</script>
	<script type="text/javascript">
        $(window).scroll(function() {
            if ($(this).scrollTop() > 50){  
                $('header').addClass("sticky");
            }
            else{
                $('header').removeClass("sticky");
            }
        });
    </script> 
	<script src='js/jquery.scrollto.js'></script> 
	<script>
        $('.scroll_link').click(function(e){
            $('html,body').scrollTo(this.hash, this.hash);
            e.preventDefault();
        });

        // not really needed
        $(window).resize(function(){
            $('.page').css({
                fontSize: Math.max(Math.min($(window).outerWidth() / (1 * 6), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY)) + 'px',
                lineHeight: $(window).height() + 'px'
            });
        }).resize();
    </script> 

    <!-- responsive tabs --> 
    <script src="js/tabs.js"></script> 
    <script>
		  var myTabs = tabs({
			el: '#tabs',
			tabNavigationLinks: '.c-tabs-nav__link',
			tabContentContainers: '.c-tab'
		  });
		
		  myTabs.init();
    </script>
    
    
    
    <script>
		$(document).ready(function() {
		
		/* Every time the window is scrolled ... */
		$(window).scroll( function(){
		
			/* Check the location of each desired element */
			$('.hideme').each( function(i){
				var bottom_of_object = $(this).offset().top + $(this).outerHeight();
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				/* If the object is completely visible in the window, fade it it */
				if( bottom_of_window > bottom_of_object ){
					$(this).animate({'opacity':'1', 'top': '1px'},1800);
				}
			}); 
		
		});
		
	});
    </script>
    <script src="js/jquery.rwdImageMaps.min.js"></script> 
	<script>
		$(document).ready(function(e) {
			$('img[usemap]').rwdImageMaps();
			
			$('area').on('click', function() {
				alert($(this).attr('alt') + ' clicked');
			});
		});
	</script>
    
</body>
</html>
