<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Basic Page Needs
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Allstar Financial Group</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Hind:400,300,500,600,700|PT+Sans+Narrow' rel='stylesheet' type='text/css'>

	<!-- CSS
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- Favicon
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/favicon.png">
	<link rel="shortcut icon" href="images/favicon.png">

	<!-- Javascript
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- Mobile Slider Nav Begin -->
	<script>
		$(function ()
		{
			var $window = $(window),
			$nav = $('.menu'),
			$button = $('#showmenu');
		
			$button.click(function() {
			
				$nav.slideToggle(700);
			});
			
			$window.on('resize', function ()
			{
				if ($window.width() < 750)
				{
					$nav.hide();
				}
				if ($window.width() > 750)
				{
					$nav.show();
				}
			});
		});
	</script>
	<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-3148703-5', 'auto');
	  ga('require', 'displayfeatures');
	  ga('send', 'pageview');

	</script>
	</head>
	<body class="allstar_fg">

<!-- Primary Page Layout
 	 –––––––––––––––––––––––––––––––––––––––––––––––––– --> 

<!--HEADER-->

<header>
	<nav class="navbar">
    	<div class="container">
          	<div class="row">
        		<div class="logo-wrapper col-md-3 col-sm-4 col-xs-6"> <a href="index.html"><img src="images/fg_logo.png" alt="Allstar Financial Group" class="img-responsive"/></a> </div>
        		<div id="showmenu" class="col-md-1 navbar-right"><img alt="Menu Toggle" src="images/menu_btn.png" class="img-responsive"/></div>
        		<div class="col-md-9 col-sm-8 col-xs-12" >
              		<ul class="navbar-list menu">
            			<li class="navbar-item"><a class="navbar-link" href="index.html">HOME</a></li>
                        <li class="navbar-item"><a class="navbar-link" href="news.html">NEWS</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="aboutus.html">ABOUT US</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="careers.html">CAREERS</a></li>
            			<li class="navbar-item"><a class="navbar-link" href="directory.html">OFFICE LOCATIONS</a></li>
            			<!--<li class="navbar-item"><a class="navbar-link" href="successes.html">RECENT SUCCESSES</a></li>-->
          			</ul>
            	</div>
      		</div>
  		</div>
  	</nav>
</header>
<!--HEADER-->

<div class="main">
	<!--{{||$:/core/templates/html-tiddler}}--> 
	<!--HERO HOME-->
	<div class="section directory">
      	<div class="container">
    		<div class="row">
          		<div class="col-lg-12 text-center">
               		<img src="images/states.png" usemap="#Map" class="img-responsive">
                    <map name="Map">
                      <area shape="poly" coords="788,299,780,285,777,274,782,264,792,265,797,276,795,287" href="#" alt="Allstar Branch Office: Columbus, Ohio">
                      <area shape="poly" coords="816,273,808,259,805,248,810,238,820,239,825,250,823,261" href="#" alt="Allstar Branch Office: Cleveland, Ohio">
                      <area shape="poly" coords="799,583,791,569,788,558,793,548,803,549,808,560,806,571" href="#" alt="Allstar Branch Office: Tampa, Florida">
                      <area shape="poly" coords="808,509,800,495,797,484,802,474,812,475,817,486,815,497" href="#" alt="Allstar Branch Office: Jacksonville, Florida">
                      <area shape="poly" coords="903,488,895,474,892,463,897,453,907,454,912,465,910,476" href="#" alt="Allstar Insurance Division: Wholesale insurance brokers and managing general underwriters">
                      <area shape="poly" coords="873,488,865,474,862,463,867,453,877,454,882,465,880,476" href="#" alt="Allstar Surety Division: The resources to respond to any surety bond challenge">
                      <area shape="poly" coords="778,446,770,432,767,421,772,411,782,412,787,423,785,434" href="#" alt="Allstar: Serving America from our corporate headquarters in Atlanta, Georgia">
                      <area shape="poly" coords="847,428,839,414,836,403,841,393,851,394,856,405,854,416" href="#" alt="Allstar Branch Office: Columbia, South Carolina">
                      <area shape="poly" coords="807,419,799,405,796,394,801,384,811,385,816,396,814,407" href="#" alt="Allstar Branch Office: Columbia, South Carolina">
                      <area shape="poly" coords="729,427,721,413,718,402,723,392,733,393,738,404,736,415" href="#" alt="Allstar Branch Office: Birmingham, Alabama">
                      <area shape="poly" coords="699,429,691,415,688,404,693,394,703,395,708,406,706,417" href="#" alt="Allstar Branch Office: Birmingham, Alabama">
                      <area shape="poly" coords="383,296,375,282,372,271,377,261,387,262,392,273,390,284" href="#" alt="Allstar Branch Office: Denver, Colorado">
                    </map>
                    <h2 class="text-center">Allstar Directory</h2>
                    <div id="tabs" class="c-tabs no-js">
                        <p class="btn-location-group">
                            <a class="btn btn-primary c-tabs-nav__link is-active" href="#" role="button">Corporate Headquarters - Atlanta, GA</a>
                            <a class="btn btn-primary c-tabs-nav__link" href="#" role="button">Corporate Office - Surety Division</a>
                            <a class="btn btn-primary c-tabs-nav__link" href="#" role="button">Corporate Office - Claims Division</a>
                            <a class="btn btn-primary c-tabs-nav__link" href="#" role="button">Insurance Division - Atlanta, GA</a>
                            <a class="btn btn-primary c-tabs-nav__link" href="#" role="button">Insurance Division - Clayton, NC</a>
                            <a class="btn btn-primary c-tabs-nav__link" href="#" role="button">Birmingham, AL Branch Office</a>
                            <a class="btn btn-primary c-tabs-nav__link" href="#" role="button">Charlotte, NC Branch Office</a>
                            <a class="btn btn-primary c-tabs-nav__link" href="#" role="button">Cleveland, OH Branch Office</a>
                            <a class="btn btn-primary c-tabs-nav__link" href="#" role="button">Columbia, SC Branch Office</a>
                            <a class="btn btn-primary c-tabs-nav__link" href="#" role="button">Columbus, OH Branch Office</a>
                            <a class="btn btn-primary c-tabs-nav__link" href="#" role="button">Denver, CO Branch Office</a>
                            <a class="btn btn-primary c-tabs-nav__link" href="#" role="button">Jacksonville, FL Branch Office</a>
                            <a class="btn btn-primary c-tabs-nav__link" href="#" role="button">Tampa, FL Branch Office</a>
                        </p>
                        <div class="container c-tab is-active">
                            <div class="row c-tab__content">
                                <div class="col-md-12">
                                    <h1>Allstar: Serving America from our corporate headquarters in Atlanta, Georgia</h1>
                                    <p>Allstar meets the needs of surety, fidelity and business insurance professionals from our headquarters in Atlanta and over 15 other offices nationwide. By combining the resources of over a dozen financial service companies, we stand ready to respond to the Surety, Fidelity, Standard, Excess and Surplus lines requirements of your commercial customers, anywhere, and at any time.</p>
                                    <p><strong>Take on any challenge with confidence. Call us at 404-522-3898 or 800-424-0132.</strong></p>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Andrew Heaner</div>
                                            <div class="col-sm-4">Chief Executive Officer</div>
                                            <div class="col-sm-2">800-424-0132 Ext 107</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:aheaner@allstarfg.com">aheaner@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">David Brett</div>
                                            <div class="col-sm-4">COO &amp; Executive VP</div>
                                            <div class="col-sm-2">803-407-2169</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:dbrett@allstarfg.com">dbrett@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Tip Carroll</div>
                                            <div class="col-sm-4">In House Counsel</div>
                                            <div class="col-sm-2">800-424-0132 Ext 150</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:tcarroll@allstarfg.com">tcarroll@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <h5>New Programs</h5>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Brent Johnson</div>
                                            <div class="col-sm-4">SVP/Chief Program Analyst</div>
                                            <div class="col-sm-2">770-670-4071</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:bjohnson@allstarfg.com">bjohnson@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Steven T. Pacholick</div>
                                            <div class="col-sm-4">SVP/Chief Program Officer</div>
                                            <div class="col-sm-2">678-832-2125</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:spacholick@allstarfg.com">spacholick@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <h5>Accounting</h5>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Scott Hamilton</div>
                                            <div class="col-sm-4">Sr. VP / Chief Financial Officer</div>
                                            <div class="col-sm-2">800-424-0132 Ext 105	</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:shamilton@allstarfg.com">shamilton@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Sean Kim</div>
                                            <div class="col-sm-4">Accounting Manager</div>
                                            <div class="col-sm-2">404-528-1806</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:skim@allstarfg.com">skim@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Kiy Neal</div>
                                            <div class="col-sm-4">Senior Accountant</div>
                                            <div class="col-sm-2">800-424-0132 Ext 110	</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:kneal@allstarfg.com">kneal@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Vaughn Olson</div>
                                            <div class="col-sm-4">Controller</div>
                                            <div class="col-sm-2">800-424-0132 Ext 138</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:volson@allstarfg.com">volson@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Kai Kong</div>
                                            <div class="col-sm-4">Accountant</div>
                                            <div class="col-sm-2">800-424-0132 Ext 156	</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:kkong@allstarfg.com">kkong@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <h5>Human Resources</h5>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">RoseMarie Odom</div>
                                            <div class="col-sm-4">Director of Human Resources</div>
                                            <div class="col-sm-2">800-424-0132 Ext 115</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:rodom@allstarfg.com">rodom@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <h5>Administration</h5>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Linda Cloer</div>
                                            <div class="col-sm-4">Office Manager</div>
                                            <div class="col-sm-2">800-424-0132 ext 104	</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:lcloer@allstarfg.com">lcloer@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Stayce Motte</div>
                                            <div class="col-sm-4">Chief Risk Manager</div>
                                            <div class="col-sm-2">678-832-2134</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:smotte@allstarfg.com">smotte@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <h5>Auditing/Compliance</h5>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Gina Robinson</div>
                                            <div class="col-sm-4">Licensing/Compliance Manager</div>
                                            <div class="col-sm-2">800-424-0132 Ext 132</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:grobinson@allstarfg.com">grobinson@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Suzanne Protz</div>
                                            <div class="col-sm-4">Surplus Lines Compliance Manager</div>
                                            <div class="col-sm-2">678-832-2145</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:sprotz@allstarfg.com">sprotz@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <h5>Administration</h5>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Patty Voyles</div>
                                            <div class="col-sm-4">Receptionist/Admin. Asst.</div>
                                            <div class="col-sm-2">800-424-0132</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:pvoyles@allstarfg.com">pvoyles@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container c-tab">
                            <div class="row c-tab__content">
                                <div class="col-md-12">
                                    <h1>Allstar Surety Division: The resources to respond to any surety bond challenge</h1>
                                    <p>From our headquarters in Atlanta, Georgia and offices located coast to coast, the Allstar Surety Division delivers comprehensive bond insurance and surety bond solutions. Try us with your most challenging account; as managing general underwriter for several leading A-rated/T-listed companies, we can meet the needs of virtually every surety bond client – including ones with credit issues.</p>
                                    <p><strong>Take on any challenge with confidence. Call us at 404-522-3898 or 800-424-0132.</strong></p>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Shane Johnson</div>
                                            <div class="col-sm-4">VP</div>
                                            <div class="col-sm-2">678-832-2106</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:sjohnson@allstarfg.com">sjohnson@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <h5>Contract Surety</h5>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Michael Thompson</div>
                                            <div class="col-sm-4">Underwriter</div>
                                            <div class="col-sm-2">678-832-2141</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:mthompson@allstarfg.com">mthompson@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Diane Mical</div>
                                            <div class="col-sm-4">VP / Surety Operations</div>
                                            <div class="col-sm-2">678-832-2128</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:dmical@allstarfg.com">dmical@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Judy McDonald</div>
                                            <div class="col-sm-4">Underwriting Assistant</div>
                                            <div class="col-sm-2">678-832-2102</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:jmcdonald@allstarfg.com">jmcdonald@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Tracy Sauerhoefer</div>
                                            <div class="col-sm-4">Underwriting Assistant</div>
                                            <div class="col-sm-2">678-832-2158</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:tsauerhoefer@allstarfg.com">tsauerhoefer@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <h5>Commercial Surety</h5>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Kelley Nys</div>
                                            <div class="col-sm-4">Supervisor / Sr. Underwriter</div>
                                            <div class="col-sm-2">678-832-2109</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:knys@allstarfg.com">knys@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Melanie Stokes</div>
                                            <div class="col-sm-4">Sr. Commercial Underwriter</div>
                                            <div class="col-sm-2">678-832-2112</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:mstokes@allstarfg.com">mstokes@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container c-tab">
                            <div class="row c-tab__content">
                                <div class="col-md-12">
                                    <h1>Allstar Claims Division: When accounts call with questions, you need answers</h1>
                                    <p>Have a claims inquiry regarding a commercial insurance policy or insurance bond obtained through Allstar? From our Claims Division headquarters in Atlanta, Georgia, our team of highly experienced specialists is ready to assist you with answers and other claims information for your accounts. Rely on us for accurate, insightful and timely responses.</p>
                                    <p><strong>Take on any challenge with confidence. Call us at 404-522-3898 or 800-424-0132.</strong></p>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Tip Carroll</div>
                                            <div class="col-sm-4">President</div>
                                            <div class="col-sm-2">678-832-2106</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:tcarroll@natlclaim.com">tcarroll@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Bill Hattings</div>
                                            <div class="col-sm-4">VP Surety Claims</div>
                                            <div class="col-sm-2">678-832-2154</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:bhattings@natlclaim.com">bhattings@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                   <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Henrietta Hinojosa</div>
                                            <div class="col-sm-4">VP Property and Casualty</div>
                                            <div class="col-sm-2">678-832-2139</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:hhinojosa@natlclaim.com">hhinojosa@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Laurie Cameron</div>
                                            <div class="col-sm-4">Director of Operations</div>
                                            <div class="col-sm-2">678-832-2151</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:lcameron@natlclaim.com">lcameron@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Cathy Fox</div>
                                            <div class="col-sm-4">Claims Technical Manager</div>
                                            <div class="col-sm-2">678-832-2130</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:cfox@natlclaim.com">cfox@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Bruce Fisher</div>
                                            <div class="col-sm-4">Senior Claims Specialist</div>
                                            <div class="col-sm-2">678-832-2148</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:bfisher@natlclaim.com">bfisher@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Christina Washington</div>
                                            <div class="col-sm-4">Senior Claims Specialist</div>
                                            <div class="col-sm-2">678-832-2142</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:cwashington@natlclaim.com">cwashington@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Jim Ferrari</div>
                                            <div class="col-sm-4">Senior Claims Specialist</div>
                                            <div class="col-sm-2">678-832-2123</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:jferrari@natlclaim.com">jferrari@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Linh Freeman</div>
                                            <div class="col-sm-4">Senior Claims Specialist</div>
                                            <div class="col-sm-2">678-832-2129</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:lfreeman@natlclaim.com">lfreeman@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Phyllis Ramseur</div>
                                            <div class="col-sm-4">Senior Claims Specialist</div>
                                            <div class="col-sm-2">770-670-4073</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:pramseur@natlclaim.com">pramseur@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Stephen Bracewell</div>
                                            <div class="col-sm-4">Senior Claims Specialist</div>
                                            <div class="col-sm-2">404-528-1805</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:sbracewell@natlclaim.com">sbracewell@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Christina Barnes</div>
                                            <div class="col-sm-4">Claims Specialist</div>
                                            <div class="col-sm-2">678-832-2103</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:cbarnes@natlclaim.com">cbarnes@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Justin Ballew</div>
                                            <div class="col-sm-4">Claims Associate</div>
                                            <div class="col-sm-2">678-832-2159</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:jballew@natlclaim.com">jballew@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Sheri Dahlstrom</div>
                                            <div class="col-sm-4">Claims &amp; Legal Assistant</div>
                                            <div class="col-sm-2">678-832-2155</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:sdahlstrom@natlclaim.com">sdahlstrom@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container c-tab">
                            <div class="row c-tab__content">
                                <div class="col-md-12">
                                    <h1>Allstar Insurance Division: Wholesale insurance brokers and managing general underwriters</h1>
                                    <p>Have a claims inquiry regarding a commercial insurance policy or insurance bond obtained through Allstar? From our Claims Division headquarters in Atlanta, Georgia, our team of highly experienced specialists is ready to assist you with answers and other claims information for your accounts. Rely on us for accurate, insightful and timely responses.</p>
                                    <p><strong>Take on any challenge with confidence. Call us at 404-522-3898 or 800-424-0132.</strong></p>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Paul Marshall</div>
                                            <div class="col-sm-4">Senior Vice President</div>
                                            <div class="col-sm-2">678-832-2140</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:pmarshall@allstarund.com">pmarshall@allstarund.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Laura Richardson</div>
                                            <div class="col-sm-4">Senior Underwriter</div>
                                            <div class="col-sm-2">678-832-2149</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:lrichardson@allstarund.com">lrichardson@allstarund.com</a></div>
                                        </div>
                                    </div>
                                   <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Sharon Cummings, CIC</div>
                                            <div class="col-sm-4">Sr. Account Executive</div>
                                            <div class="col-sm-2">678-832-2114</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:scummings@allstarund.com">scummings@allstarund.com</a></div>
                                        </div>
                                    </div>
                                    <h5>Marketing</h5>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Jenny Morrison</div>
                                            <div class="col-sm-4">Marketing Specialist</div>
                                            <div class="col-sm-2">678-502-6698</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:jmorrison@allstarfg.com">jmorrison@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container c-tab">
                            <div class="row c-tab__content">
                                <div class="col-md-12">
                                	<h1>Allstar Branch Office: Clayton, North Carolina</h1>
                                    <p>Allstar Underwriters, Inc. is a Managing General Agency/Wholesale Broker division, specializing in Property, Casualty, Inland Marine, Umbrella, Excess Liability, and Professional Liability insurance products. Offices are located in Atlanta, GA and Clayton, NC.</p>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Randy Brown</div>
                                            <div class="col-sm-4">President</div>
                                            <div class="col-sm-2">	919-550-3229</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:brown@allstarund.com">brown@allstarund.com</a></div>
                                        </div>
                                    </div>
                                    <h5>Homeowners, Auto</h5>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Richard Yarbrough, CPCU, CIC</div>
                                            <div class="col-sm-4">Senior Vice President</div>
                                            <div class="col-sm-2">919-550-3233</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:Ryarbrough@allstarund.com">Ryarbrough@allstarund.com</a></div>
                                        </div>
                                    </div>
                                   <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Janice Biggs</div>
                                            <div class="col-sm-4">Vice President</div>
                                            <div class="col-sm-2">678-832-2108</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:jbiggs@allstarund.com">jbiggs@allstarund.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Steve Allen, CPCU, ASLI</div>
                                            <div class="col-sm-4">Director of Product Development</div>
                                            <div class="col-sm-2">919-550-3222</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:sallen@allstarund.com">sallen@allstarund.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Casey Brown</div>
                                            <div class="col-sm-4">Assistant Vice President - Commercial Lines</div>
                                            <div class="col-sm-2">919-550-3234</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:cbrown@allstarund.com">cbrown@allstarund.com</a></div>
                                        </div>
                                    </div>
                                    <h5>Homeowners, Auto</h5>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Stephanie Orr</div>
                                            <div class="col-sm-4">Underwriter</div>
                                            <div class="col-sm-2">919-879-1075</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:sorr@allstarund.com">sorr@allstarund.com</a></div>
                                        </div>
                                    </div>
                                    <h5>Auto</h5>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Pam Eatmon</div>
                                            <div class="col-sm-4">Assistant Vice President</div>
                                            <div class="col-sm-2">919-550-3222 EXT. 3237</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:peatmon@allstarund.com">peatmon@allstarund.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container c-tab">
                            <div class="row c-tab__content">
                                <div class="col-md-12">
                                    <h1>Allstar Branch Office: Birmingham, Alabama</h1>
                                    <p>Allstar helps you meet the commercial insurance and surety bond needs of your clients from our branch office in Birmingham, AL. For accounts large and small, and requests ranging from the routine to the exceptional, rely on us for prompt responses and superior service.</p>
                                    <p><strong>Take on any challenge with confidence. Call us at 205-969-7687.</strong></p>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Scott Stoltzner</div>
                                            <div class="col-sm-4">	VP / Surety Branch Manager</div>
                                            <div class="col-sm-2">205-969-7684</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:sstoltzner@allstarfg.com">sstoltzner@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Tameca Ivy</div>
                                            <div class="col-sm-4">Underwriting Assistant</div>
                                            <div class="col-sm-2">	205-969-7687</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:tivy@allstarfg.com">tivy@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                   <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Paula Reaves</div>
                                            <div class="col-sm-4">Underwriting Assistant</div>
                                            <div class="col-sm-2">205-969-7684</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:preaves@allstarfg.com">preaves@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Robert Isaacsn</div>
                                            <div class="col-sm-4"> </div>
                                            <div class="col-sm-2">205-977-7935</div>
                                            <div class="col-sm-3 text-right"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container c-tab">
                            <div class="row c-tab__content">
                                <div class="col-md-12">
                                    <h1>Allstar Branch Office: Charlotte, North Carolina</h1>
                                    <p>From our branch office in Charlotte, NC, Allstar assists you in delivering innovative solutions to your accounts. Call us and discover a highly capable resource for all your business insurance and surety bond challenges, ranging from the simple to complex, and extending to the hard to place.</p>
                                    <p><strong>Take on any challenge with confidence. Call us at 704-708-6072 or 888-708-6071.</strong></p>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Brian Clark</div>
                                            <div class="col-sm-4">Branch Manager</div>
                                            <div class="col-sm-2">704-708-6072</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:bclark@allstarfg.com">bclark@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Terry Moore</div>
                                            <div class="col-sm-4">Surety Junior Underwriter</div>
                                            <div class="col-sm-2">704-708-6072</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:tmoore@allstarfg.com">tmoore@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                   <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Susan Biggers</div>
                                            <div class="col-sm-4">Surety Underwriting Assistant</div>
                                            <div class="col-sm-2">205-969-7684</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:sbiggers@allstarfg.com">sbiggers@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container c-tab">
                            <div class="row c-tab__content">
                                <div class="col-md-12">
                                    <h1>Allstar Branch Office: Cleveland, Ohio</h1>
                                    <p>Bring your standard and non-standard bond needs to our Allstar Branch Office in Middleburg Heights, OH. With full underwriting authority for most types of surety bonds, we can provide a solution for almost every account – including those with unique circumstances, special needs or even credit issues. Let Laurie and Jim show you how easy surety can be with their combined 43 years experience.</p>
                                    <p><strong>Take on any challenge with confidence. Call us at 440-239-9271 or 800-839-1062.</strong></p>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Jim Feldner</div>
                                            <div class="col-sm-4">VP, Branch Manager</div>
                                            <div class="col-sm-2">440-239-9271</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:jfeldner@allstarfg.com">jfeldner@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Laurie Krokos</div>
                                            <div class="col-sm-4">Underwriting Assistant</div>
                                            <div class="col-sm-2">440-239-9271</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:lkrokos@allstarfg.com">lkrokos@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container c-tab">
                            <div class="row c-tab__content">
                                <div class="col-md-12">
                                    <h1>Allstar Branch Office: Columbia, South Carolina</h1>
                                    <p>For expert help in meeting the commercial insurance and surety bond needs of your clients, look to our Allstar branch office in Columbia, SC. Accepting all challenges from the routine to the highly complex, we are a responsive and reliable resource for creative solutions.</p>
                                    <p><strong>Take on any challenge with confidence. Call us at 803-407-2169.</strong></p>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">David Brett</div>
                                            <div class="col-sm-4">COO &amp; Executive VP</div>
                                            <div class="col-sm-2">803-407-2169</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:dbrett@allstarfg.com">dbrett@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Deborah Brett</div>
                                            <div class="col-sm-4">VP Corporate Advertising</div>
                                            <div class="col-sm-2">803-407-2169</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:deborah@allstarfg.com">deborah@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                   <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Danielle Bost</div>
                                            <div class="col-sm-4">Asst. VP Corporate Advertising</div>
                                            <div class="col-sm-2">803-407-2169</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:dbost@allstarfg.com">dbost@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Kelsie Conrad</div>
                                            <div class="col-sm-4">Advertising Associate</div>
                                            <div class="col-sm-2">803-407-2169</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:kconrad@allstarfg.com">kconrad@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container c-tab">
                            <div class="row c-tab__content">
                                <div class="col-md-12">
                                    <h1>Allstar Branch Office: Columbus, Ohio</h1>
                                    <p>From our Allstar offices in Reynoldsburg, OH, we have earned a reputation among our clients for not only superior service, but also for highly creative bond and surety solutions for their accounts. Put us to the test with your surety bond challenges.</p>
                                    <p><strong>Take on any challenge with confidence. Call us at 614-501-8044 or 877-501-8044.</strong></p>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Jeff Booth</div>
                                            <div class="col-sm-4">Sr. Vice President, CUO</div>
                                            <div class="col-sm-2">614-501-8044</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:jbooth@allstarfg.com">jbooth@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Jennifer Newsome-Power</div>
                                            <div class="col-sm-4">Underwriting Assistant</div>
                                            <div class="col-sm-2">614-501-8044</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:jpowers@allstarfg.com">jpowers@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container c-tab">
                            <div class="row c-tab__content">
                                <div class="col-md-12">
                                    <h1>Allstar Branch Office: Denver, Colorado</h1>
                                    <p>Look to our Allstar branch office in Parker, CO for timely service and original solutions regarding virtually all types of surety bonds. Have an account with credit issues? We can provide a bond or surety solution for almost any client – including those with difficult financial histories.</p>
                                    <p><strong>Take on any challenge with confidence. Call us at 303-694-4404 or 800-424-0132.</strong></p>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Stefan Tau</div>
                                            <div class="col-sm-4">Surety Branch Manager / Sr. Underwriter</div>
                                            <div class="col-sm-2">303-694-4404</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:stauger@allstarfg.com">stauger@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Kayla Angell</div>
                                            <div class="col-sm-4">Underwriting Assistant</div>
                                            <div class="col-sm-2">303-694-4404</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:kangell@allstarfg.com">kangell@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container c-tab">
                            <div class="row c-tab__content">
                                <div class="col-md-12">
                                    <h1>Allstar Branch Office: Jacksonville, Florida</h1>
                                    <p>Call on the Allstar Jacksonville, FL office for assistance whenever you’re called on to provide bond or surety bond solutions to your accounts. Nothing’s too unusual. As the exclusive managing general underwriter for several A-rated/T-listed bond insurance companies, we often deliver when others can’t.</p>
                                    <p><strong>Take on any challenge with confidence. Call us at 303-694-4404 or 888-694-4404.</strong></p>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Jason Centrella, VP</div>
                                            <div class="col-sm-4">	Branch Manager</div>
                                            <div class="col-sm-2">904-230-1324</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:jcentrella@allstarfg.com">jcentrella@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Felica Lischio</div>
                                            <div class="col-sm-4">Underwriting Assistant</div>
                                            <div class="col-sm-2">904-230-1324</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:flischio@allstarfg.com">flischio@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container c-tab">
                            <div class="row c-tab__content">
                                <div class="col-md-12">
                                    <h1>Allstar Branch Office: Tampa, Florida</h1>
                                    <p>Exceptional service is the standard at the Allstar office in in Lutz, FL. Of course, so are creative bond and surety solutions. We offer your accounts a comprehensive array of insurance bonds as well as fidelity and fiduciary products. And, as exclusive managing general underwriter for several A-rated/T-listed companies, we have more latitude than most to meet the unique needs of your clients.</p>
                                    <p><strong>Take on any challenge with confidence. Call us at 813-968-8031or 866-931-013</strong></p>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">Pat Martin</div>
                                            <div class="col-sm-4">Underwriter</div>
                                            <div class="col-sm-2">813-968-8031</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:pmartin@allstarfg.com">pmartin@allstarfg.com</a></div>
                                        </div>
                                    </div>
                                    <div class="well well-sm">
                                        <div class="row">
                                            <div class="col-sm-3">John Northrop</div>
                                            <div class="col-sm-4">Manager- Surety Claims &amp; Recove</div>
                                            <div class="col-sm-2">877-871-8781</div>
                                            <div class="col-sm-3 text-right"><a href="mailto:jnorthrop@natlclaim.com">jnorthrop@natlclaim.com</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
       		  	</div>
            </div>
        </div>
    </div>
	<footer class="section footer">
      	<div class="container-fluid">
        	<div class="row footer_text">
            	<div class="col-md-6 col-sm-8 col-sm-offset-1">
            		<p><!--Northridge Center 1, -->365 Northridge Rd., Suite 400, Atlanta, Georgia 30350&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;© <span class="year"></span> Allstar&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<nobr>1-800-424-0132</nobr>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://www.linkedin.com/company/allstar-financial-group">LinkedIn</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="http://allstarfg.actonservice.com/acton/form/16472/0026:d-0001/0/-/-/-/-/index.htm" target="_blank">Join Our Mailing List</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a  href="privacy.html">Privacy</a></p>
				</div>
                <div class="col-sm-1 col-sm-offset-0 col-xs-offset-4 text-center">
                  	<a href="http://www.nasbp.org/home" target="_blank"><img src="images/nasbp.png" alt="Proud Member of NASBP" class="img-responsive"/></a>
            	</div>
				<div class="col-sm-1 col-sm-offset-0 col-xs-offset-4 text-center">
                  	<a href="https://www.wsia.org/" target="_blank"><img src="images/wsia.png" alt="WSIA" class="img-responsive"/></a>
            	</div>
                <div class="col-md-2 col-sm-2 col-sm-offset-0 col-xs-offset-4 text-center">
                    <img src="images/Target-Markets-LOGO.png" alt="Target Markets - Program Administrators Association" class="img-responsive"/>
            	</div>
            </div>
            <div class="row allstar_logo">
               	<div class="col-sm-2 col-sm-offset-5">
                  	<img src="images/allstar_logo_footer.png" alt="Allstar" class="img-responsive"/> 
            	</div>
            </div>
        </div>
	</footer>

    <!-- End Document
        –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
    
    <!--{{Allstar Financial Group Google Analytics||$:/core/templates/plain-text-tiddler}}--> 
    
    <!--{{Sticky Nav Javacript||$:/core/templates/plain-text-tiddler}}--> 
    <script>
  		$(function(){
	  		var theYear = (new Date).getFullYear();
    		$('.year').html(theYear);
  		});
	</script>
	<script type="text/javascript">
        $(window).scroll(function() {
            if ($(this).scrollTop() > 50){  
                $('header').addClass("sticky");
            }
            else{
                $('header').removeClass("sticky");
            }
        });
    </script> 
	<script src='js/jquery.scrollto.js'></script> 
	<script>
        $('.scroll_link').click(function(e){
            $('html,body').scrollTo(this.hash, this.hash);
            e.preventDefault();
        });

        // not really needed
        $(window).resize(function(){
            $('.page').css({
                fontSize: Math.max(Math.min($(window).outerWidth() / (1 * 6), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY)) + 'px',
                lineHeight: $(window).height() + 'px'
            });
        }).resize();
    </script> 

    <!-- responsive tabs --> 
    <script src="js/tabs.js"></script> 
    <script>
		  var myTabs = tabs({
			el: '#tabs',
			tabNavigationLinks: '.c-tabs-nav__link',
			tabContentContainers: '.c-tab'
		  });
		
		  myTabs.init();
    </script>
    
    
    
    <script>
		$(document).ready(function() {
		
		/* Every time the window is scrolled ... */
		$(window).scroll( function(){
		
			/* Check the location of each desired element */
			$('.hideme').each( function(i){
				var bottom_of_object = $(this).offset().top + $(this).outerHeight();
				var bottom_of_window = $(window).scrollTop() + $(window).height();
				/* If the object is completely visible in the window, fade it it */
				if( bottom_of_window > bottom_of_object ){
					$(this).animate({'opacity':'1', 'top': '1px'},1800);
				}
			}); 
		
		});
		
	});
    </script>
    <script src="js/jquery.rwdImageMaps.min.js"></script> 
	<script>
		$(document).ready(function(e) {
			$('img[usemap]').rwdImageMaps();
			
			$('area').on('click', function() {
				alert($(this).attr('alt') + ' clicked');
			});
		});
	</script>
    
</body>
</html>
