\rules only filteredtranscludeinline transcludeinline filterdtransclude transclude macrocallinline macrocallblock

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{!!pagetitle}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Hind:400,300,500,600,700' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  {{Allstar Financial Group CSS||$:/core/templates/plain-text-tiddler}}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../images/allstar_fg/favicon.png">
  <link rel="shortcut icon" href="../images/allstar_fg/favicon.png">

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-3148703-5', 'auto');
	  ga('require', 'displayfeatures');
	  ga('send', 'pageview');

	</script>
	</head>
<body class="allstar_fg">
 
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {{Allstar Financial Group Navigation||$:/core/templates/plain-text-tiddler}}
  
  {{||$:/core/templates/html-tiddler}}
  
  {{Allstar Financial Group Footer||$:/core/templates/html-tiddler}}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  {{Allstar Financial Group Google Analytics||$:/core/templates/plain-text-tiddler}}
  {{Sticky Nav Javacript||$:/core/templates/plain-text-tiddler}}
  {{Allstar Financial Group JS Toggle||$:/core/templates/plain-text-tiddler}}
  
  
</body>
</html>
